<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="ProcessableItems">
            <directory>tests/ProcessableItems</directory>
        </testsuite>
        <testsuite name="SecurityTasks">
            <directory>tests/SecurityTasks</directory>
        </testsuite>
        <testsuite name="Presentation">
            <directory>tests/Presentation</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src/ProcessableItems</directory>
            <directory>src/SecurityTasks</directory>
            <directory>src/Presentation</directory>
        </include>
    </source>
</phpunit>
